<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.dao.XxlJobGroupDao">

	<resultMap id="XxlJobGroup" type="com.xxl.job.admin.core.model.XxlJobGroup" >
		<result column="id" property="id" />
	    <result column="app_name" property="appname" />
	    <result column="title" property="title" />
		<result column="address_type" property="addressType" />
		<result column="address_list" property="addressList" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.app_name,
		t.title,
		t.address_type,
		t.address_list
	</sql>

	<select id="findAll" resultMap="XxlJobGroup">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_job_group  t
		ORDER BY t.app_name, t.title, t.id ASC
	</select>

	<select id="findByAddressType" parameterType="java.lang.Integer" resultMap="XxlJobGroup">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_job_group  t
		WHERE t.address_type = #{addressType}
		ORDER BY t.app_name, t.title, t.id ASC
	</select>

	<insert id="save" parameterType="com.xxl.job.admin.core.model.XxlJobGroup" keyColumn="id" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO xxl_job_group (id, app_name, title, address_type, address_list)
		values (XXL_JOB_GROUP_ID.NEXTVAL, #{appname}, #{title}, #{addressType}, #{addressList})
	</insert>

	<update id="update" parameterType="com.xxl.job.admin.core.model.XxlJobGroup" >
		UPDATE xxl_job_group
		SET app_name = #{appname,jdbcType=VARCHAR},
			title = #{title,jdbcType=VARCHAR},
			address_type = #{addressType,jdbcType=NUMERIC},
			address_list = #{addressList,jdbcType=VARCHAR}
		WHERE id = #{id,jdbcType=NUMERIC}
	</update>

	<delete id="remove" parameterType="java.lang.Integer" >
		DELETE FROM xxl_job_group
		WHERE id = #{id}
	</delete>

	<select id="load" parameterType="java.lang.Integer" resultMap="XxlJobGroup">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_job_group  t
		WHERE t.id = #{id}
	</select>

	<select id="pageList" parameterType="java.util.HashMap" resultMap="XxlJobGroup">
		SELECT * FROM (SELECT TMP.*, ROWNUM ROW_ID FROM (SELECT <include refid="Base_Column_List" />
		FROM xxl_job_group t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="appname != null and appname != ''">
				<bind name="appname_like" value="'%' + appname + '%'"/>
				AND t.app_name like #{appname_like}
			</if>
			<if test="title != null and title != ''">
				<bind name="title_like" value="'%' + title + '%'"/>
				AND t.title like #{title_like}
			</if>
		</trim>
		ORDER BY t.app_name, t.title, t.id ASC) TMP
		WHERE ROWNUM <![CDATA[ <= ]]> #{endRow})
		WHERE ROW_ID > #{offset}
	</select>

	<select id="pageListCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(1)
		FROM xxl_job_group  t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="appname != null and appname != ''">
				<bind name="appname_like" value="'%' + appname + '%'"/>
				AND t.app_name like #{appname_like}
			</if>
			<if test="title != null and title != ''">
				<bind name="title_like" value="'%' + title + '%'"/>
				AND t.title like #{title_like}
			</if>
		</trim>
	</select>

</mapper>
